.ui-no-selection {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
.clear {
  clear: both;
}
ul,
li {
  list-style: none;
}
.clear {
  clear: both;
}
#map {
  height: 100%;
  width: 100%;
}
a {
  word-break: break-all;
}
.form-group .error {
  color: #a94442;
  margin-top: 5px;
}
.openingHour.open {
  color: #62c552;
}
.openingHour.closed {
  color: #ae1400;
}
.openingHour.unknown {
  color: #80837d;
}
#map_preview {
  height: 300px;
  margin-bottom: 15px;
}
.infoWindow p {
  margin-bottom: 0;
  font-size: 12px;
}
.dataTables_filter input {
  margin-left: 5px;
}
.opening_hour_day {
  margin-top: 7px;
}
form #remember_me {
  float: left;
  position: relative !important;
  margin-left: 0;
  margin-right: 5px;
}
form .remember_me {
  padding-left: 0;
}
.loading-indicator {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.loading-indicator.circle {
  height: 32px;
  width: 32px;
}
#contextMenu {
  position: absolute;
  display: none;
}
table.locations tbody tr {
  cursor: pointer;
}
#geocoder-results {
  border: 1px solid grey;
  background-color: white;
  position: absolute;
  z-index: 10000;
}
#geocoder-results .result {
  border-bottom: 1px solid grey;
  padding: 5px 10px;
  cursor: pointer;
}
#geocoder-results .result:last-child {
  border-bottom: none;
}
#geocoder-results .result:hover {
  background-color: #39b3d7;
}
.image-thumbnails {
  margin-bottom: 6px;
  margin-top: 6px;
}
.image-thumbnails .image {
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}
.image-thumbnails .image:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
