.ui-no-selection {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
.clear {
  clear: both;
}
