{% extends "HIPVeganMapAdminBundle::base_admin.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">{{ "dashboard"|trans }}</h1>
        </div>
    </div>

    <div style="height: 500px;" class="google_map"></div>

{% endblock content %}