<!DOCTYPE html>
<html lang="{% block html_lang %}{% endblock html_lang %}" style="{% block html_style %}{% endblock html_style %}">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock title %}</title>
    {% block stylesheets %}{% endblock stylesheets %}
    {% block javascripts %}{% endblock javascripts %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body style="{% block body_style %}{% endblock body_style %}">
{% block body %}{% endblock body %}
</body>
</html>