{% extends "HIPVeganMapAdminBundle::base.html.twig" %}

{% block body %}
    {% include "HIPVeganMapAdminBundle::bs_dialog.html.twig" %}

    <div id="wrapper">

        <!-- Sidebar -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path("admin_index") }}">{{ "vegan_map_admin"|trans }}</a>
            </div>

            <!-- Top Menu Items -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-user"></i> {{ "user_profile"|trans }}</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> {{ "user_logoff"|trans }}</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    {{ knp_menu_render(
                    'HIPVeganMapAdminBundle:Builder:mainMenu', {
                    'template': 'HIPVeganMapAdminBundle:Menu:knp_menu.html.twig',
                    'currentClass': 'active'
                    }) }}
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">{% block content %}{% endblock content %}</div>

    </div>
{% endblock %}