{% extends "::base.html.twig" %}

{% block html_lang %}{{ app.request.locale }}{% endblock html_lang %}

{% block title %}{{ "index.title"|trans }}{% endblock title %}

{% block stylesheets %}
    {% stylesheets
    filter="cssrewrite"
    "bundles/hipveganmapadmin/css/bootstrap.min.css"
    "bundles/hipveganmapadmin/css/sb-admin-2.css"
    "bundles/hipveganmapadmin/css/font-awesome.min.css"
    "bundles/hipveganmapadmin/css/dataTables.bootstrap.css"
    "bundles/hipveganmapadmin/css/metisMenu.min.css"
    "bundles/hipveganmapadmin/css/admin.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    {% javascripts
    "@FOSJsRoutingBundle/Resources/public/js/router.js"
    "@HIPVeganMapAdminBundle/Resources/public/js/lib/jquery.1.10.js"
    "@HIPVeganMapAdminBundle/Resources/public/js/lib/jquery.ui.1.10.3.js"
    "@HIPVeganMapAdminBundle/Resources/public/js/lib/bootstrap.min.js"
    "@HIPVeganMapAdminBundle/Resources/public/js/lib/sb-admin-2.js"
    "@HIPVeganMapAdminBundle/Resources/public/js/lib/jquery.dataTables.js"
    "@HIPVeganMapAdminBundle/Resources/public/js/lib/dataTables.bootstrap.js"
    "@HIPVeganMapAdminBundle/Resources/public/js/lib/*.js"
    output="js/compiled/main.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('/bundles/hipveganmapadmin/js/AppConfig.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock javascripts %}

{% block body %}{% endblock body %}