<div class="modal" id="bsDialog" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ "dialog_close"|trans }}</span></button>
                <h4 class="modal-title" id="modalLabel">
                    <span class="ajax-loader">{{ "dialog.loading"|trans }}</span>
                    <span class="modal-label-placeholder"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-placeholder"></div>
                <div class="ajax-loader">
                    {% image '@HIPVeganMapAdminBundle/Resources/public/images/ajax-loader-circle.gif' %}
                    <img class="loading-indicator circle" src="{{ asset_url }}"/>
                    {% endimage %}
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>