<table class="locations data-table table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>{{ "location.name"|trans }}</th>
        <th>{{ "location.address"|trans }}</th>
        <th>{{ "location.lat"|trans }}</th>
        <th>{{ "location.lng"|trans }}</th>
        <th>{{ "location.url"|trans }}</th>
        <th>{{ "location.food_type"|trans }}</th>
        <th>{{ "location.location_type"|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for location in locations %}
        <tr data-id="{{ location.id }}">
            <td>{{ location.name }}</td>
            <td>{{ location.address }}</td>
            <td>{{ location.latitude|number_format(3) }}</td>
            <td>{{ location.longitude|number_format(3) }}</td>
            <td>
                {% if location.url != null %}
                    <a title="{{ location.url }}" href="{{ location.url }}" target="_blank">{{ location.prettyUrl() }}</a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{ ("food_type_" ~ location.foodType)|trans }}</td>
            <td>{{ ("location_type_" ~  location.locationType)|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>