{% extends "HIPVeganMapAdminBundle::base_admin.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">{{ "locations"|trans }}</h1>
        </div>
    </div>

    {% include "HIPVeganMapAdminBundle:Location:menu.html.twig" %}

    <div class="table-ajax-loader">
        {% image '@HIPVeganMapAdminBundle/Resources/public/images/ajax-loader-circle.gif' %}
        <img class="loading-indicator circle" src="{{ asset_url }}"/>
        {% endimage %}
    </div>

    {% include "HIPVeganMapAdminBundle:Location:locations_table.html.twig" %}

{% endblock content %}