<div class="row">

    <div class="col-md-12">
        <span style="font-size: 16px;">{{ ("food_type_" ~ location.foodType)|trans }} {{ ("location_type_" ~  location.locationType)|trans }}</span>
        {% if location.description != null %}
            <br/>
            {{ location.description }}
            <br>
        {% endif %}
    </div>

    <div style="margin-top: 10px;" class="col-md-12">
        <p>
            {% if location.url != null %}
                <i class="fa fa-external-link"></i>
                <a title="{{ location.url }}" target="_blank" href="{{ location.url }}">
                    {% if location.url|length >= 50 %}
                        {{ location.prettyUrl() }}...
                    {% else %}
                        {{ location.prettyUrl() }}
                    {% endif %}
                </a>
                <br/>
            {% endif %}

            <i class="fa fa-location-arrow"></i> {{ location.address }}<br/>

            {% if location.telephone != null or location.telephone != "" %}
                <i class="fa fa-phone"></i> {{ location.telephone }}<br/>
            {% endif %}
        </p>

        {% set open = location.isOpen() %}
        {% if open == 1 %}
            {% set openLabel = "open"|trans %}
            {% set openClass = "open" %}
        {% elseif open == 0 %}
            {% set openLabel = "closed"|trans %}
            {% set openClass = "closed" %}
        {% elseif open == -1 %}
            {% set openLabel = "?" %}
            {% set openClass = "unknown" %}
        {% endif %}
        <b>{{ "location.opening_hours"|trans }}: <span class="openingHour {{ openClass }}">({{ openLabel }})</span></b>
        <br/>
        {% if openingHourMap|length > 0 %}
            {% for hour in openingHourMap %}
                {% set startDay = ("day_" ~ hour.startDay)|trans[:2] %}
                {% set endDay = ("day_" ~ hour.endDay)|trans[:2] %}
                {% if startDay == endDay %}
                    {% set label = startDay %}
                {% else %}
                    {% set label = startDay ~ " - " ~ endDay %}
                {% endif %}

                {% if hour.opens == "00:00" and hour.closes == "00:00" %}
                    {% set value = "closed"|trans %}
                {% else %}
                    {% set value = hour.opens ~ " - " ~  hour.closes %}
                {% endif %}

                {{ label }}: {{ value }}<br/>
            {% endfor %}
        {% endif %}
        <br/>

    </div>

    <div class="col-md-12">
        <input type="file" id="locationImageChooser" multiple>

        {% if location.images|length > 0 %}
            <div class="image-thumbnails row">
                <div class="col-md-12">
                    {% for image in location.images %}
                        <a href="#" class="pull-left image">
                            <img width="100" height="100" src="{{ path("location_image_thumbnail", {"locationId":location.id, "imageId": image.id, "width": 100, "height": 100}) }}"/>
                        </a>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="col-md-12">
        <div style="width: 100%; height: 300px;" data-marker="{{ image }}" data-lat="{{ location.latitude }}" data-lng="{{ location.longitude }}" class="google_map"></div>
    </div>

</div>