<div class="table-responsive">
    {% include "HIPVeganMapAdminBundle:Location:ajaxTable.html.twig" %}
</div>

<div id="contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block; position:static; margin-bottom:5px;">
        <li><a tabindex="-1" href="#" data-action="detail">{{ "dialog.details"|trans }}</a></li>
        <li><a tabindex="-1" href="#" data-action="edit">{{ "dialog.edit"|trans }}</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" href="#" data-action="delete">{{ "dialog.delete"|trans }}</a></li>
    </ul>
</div>