{% form_theme location_form 'HIPVeganMapAdminBundle:Form:Bootstrap_Form_Row.html.twig' %}

<div class="row">
    {{ form_start(location_form, {'attr': {'role': 'form' }}) }}

    {{ form_row(location_form.name, {"col": "col-md-12"}) }}
    {{ form_row(location_form.description) }}

    {% set error = "" %}
    {% if location_form.address.vars.errors|length %}
        {% set error = "has-error has-feedback" %}
    {% endif %}
    <div class="form-group col-md-12 {{ error }}">
        {{ form_label(location_form.address, null, { 'label_attr': {'class': 'control-label' }} ) }}
        {{ form_widget(location_form.address, {'id': 'geocoder', 'attr': {'class': 'form-control','autocomplete': 'off' }} ) }}
        <div class="error">{{ form_errors(location_form.address) }}</div>
        <div style="display: none" id="geocoder-results"></div>
    </div>

    <div class="col-md-12">
        <div id="map_preview"></div>
    </div>

    {{ form_row(location_form.latitude, {"id": "latitude", "col": "col-md-4"}) }}
    {{ form_row(location_form.longitude, {"id": "longitude", "col": "col-md-4"}) }}

    {{ form_row(location_form.telephone) }}
    {{ form_row(location_form.url) }}

    <div class="col-md-12">
        {{ form_label(location_form.opening_hours) }}
    </div>

    {% for index, hour in location_form.opening_hours %}
        <div class="row" style="margin-bottom: 5px;">
            <div class="col-md-3">
                <div class="opening_hour_day col-md-12">{{ ("day_" ~ index)|trans }}:</div>
            </div>

            <div class="col-md-3">
                <div class="form-group{% if hour.opens.vars.errors|length %} has-error{% endif %}">
                    {{ form_widget(hour.opens, {'attr': {'class': 'form-control', 'placeholder': "location.opens"|trans }}) }}
                    <div class="error">{{ form_errors(hour.opens) }}</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group{% if hour.closes.vars.errors|length %} has-error{% endif %}">
                    {{ form_widget(hour.closes, {'attr': {'class': 'form-control', 'placeholder': "location.closes"|trans }}) }}
                    <div class="error">{{ form_errors(hour.closes) }}</div>
                </div>
            </div>
        </div>
    {% endfor %}

    {{ form_row(location_form.food_type) }}
    {{ form_row(location_form.location_type) }}

    {{ form_end(location_form) }}

</div>