<ul style="margin-bottom: 15px;" class="nav nav-pills">
    <li>
        <button class="btn btn-default" id="createLocationBtn" data-target="#bsDialog"><span class="fa fa-plus"></span> {{ "location.add"|trans }}</button>
    </li>
</ul>