{% extends "HIPVeganMapAdminBundle::base.html.twig" %}

{% block title %}{{ "login.title"|trans }}{% endblock %}

{% block body_style %}padding-top: 50px;{% endblock body_style %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">{{ "sign_in"|trans }}</h3></div>
                    <div class="panel-body">
                        {% trans_default_domain 'FOSUserBundle' %}

                        <form role="form" action="{{ path('fos_user_security_check') }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                            <div class="form-group">
                                <input type="text" class="form-control" id="username" required="required" name="_username" value="{{ last_username }}" placeholder="">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="">
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="remember_me" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0">
                                <button type="submit" id="_submit" name="_submit" class="btn btn-success btn-block">{{ 'security.login.submit'|trans }}</button>
                            </div>
                        </form>
                    </div>
                </div>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock body %}