{% block form_row %}
    {% spaceless %}
        {% set error = "" %}
        {% if form.vars.errors|length %}
            {% set error = "has-error has-feedback" %}
        {% endif %}
        <div class="form-group {{ col|default("col-md-12") }} {{ error }}">
            {{ form_label(form, null, { 'label_attr': {'class': 'control-label' }} ) }}
            {{ form_widget(form, {'attr': {'class': 'form-control' }} ) }}
            <div class="error">{{ form_errors(form) }}</div>
        </div>
    {% endspaceless %}
{% endblock form_row %}