{% block form_row %}
    {% spaceless %}
        <div class="col-md-3">
            {{ form_widget(form, {'attr': {'class': 'form-control' }}) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}